.container {
    width: 1140px;
    margin: auto;
}

.dis-i-b {
    display: inline-block;
}

.col-2 {
    width: 49%;
    display: inline-block;
}

.col-4 {
    width: 24.5%;
    display: inline-block;
}

.col-3 {
    width: 33%;
}

.card {
    display: inline-block;
    min-height: 300px;
    padding: 15px;
}

.card .img img {
    max-width: 100%;
}

.btn {
    display: inline-block;
    padding: 10px;
    background: #c3c3c3;
    border-radius: 5px;
    color: #fff;
    font-size: 19px;
    font-weight: 800;
    text-transform: uppercase;
}

.btn:hover {
    background: #069;
}